# nome do projecto
COMPOSE_PROJECT_NAME=php_crud
APP_ENV=example

# variaveis de ambiente, retiradas do ficheiro YAML e config.phppor segurança
DB_HOST=php_crud-mysql-1
DB_PORT=3306
DB_NAME=php_crud
DB_USER=me
DB_PASS=change_me

DB_ROOT_PASS=my5@fEp@s5

# Variaveis de ambiente para a aplicação criada com o COMPOSE. (Des)Comentar conforme necessário
# APP_ENV=production		# tipologia de funcionamento da aplicação 
# DEBUG=true                # Descomentar para colocar a aplicação em modo debug
# APP_LOG_LEVEL=debug       # Nível de debug: debug, info, warn, error