#frmNome{   color:              blue;
            text-decoration:    none;
            text-transform:     lowercase;
            font-family: 		verdana;
            font-size: 		    14
        }
        
#frmPass{   color:              blue;
            text-decoration:    none;
            text-transform:     lowercase;
            font-family:        verdana;
            font-size:          14
        }

#oldPass{
            color:				blue;
            text-decoration: 	none;
            text-transform:	    lowercase;
            font-family: 		verdana;
            font-size: 		    14
        }

#newPass{
            color:				blue;
            text-decoration: 	none;
            text-transform:	    lowercase;
            font-family: 		verdana;
            font-size: 		    14
        }

#confPass{
            color:				blue;
            text-decoration: 	none;
            text-transform:	    lowercase;
            font-family: 		verdana;
            font-size: 		    14
        }

#status{    color:              black;
            text-decoration:    none;
            text-transform:     lowercase;
            font-family:        verdana;
            font-size:          10
        }

#icon   {   
            width: 20px;
        }
